---
import ThemeToggle from '../components/ThemeToggle.astro';
import LanguagePicker from '../components/LanguagePicker.astro';
import BackArrow from '../components/BackArrow.astro';
import Footer from '../components/Footer.astro';
import Base from './Base.astro';
import '../styles/landing.css';

interface Props {
  title: string;
  lang: string;
  description: string;
}

const {
  title,
  lang,
  description,
} = Astro.props;
---

<Base
  title={title}
  lang={lang}
  description={description}
>
  <nav class="topbar">
    <div class="topbar-left">
      <BackArrow />
      <ThemeToggle />
    </div>
    <LanguagePicker locale={lang} />
  </nav>
  <main>
    <slot />
  </main>
  <Footer />
</Base>
